{% extends "base.html" %}

{% block content %}
    <title>Maxing</title>
    <div>
        <table>
            <tr>
                <th>Skill Name</th>
                <th>Level</th>
                <th>XP</th>
                <th>XP Left</th>
                <th>Expected XP Rate</th>
                <th>EHP Rate</th>
                <th>XP Gained in the Last Day</th>
                <th>XP Gained in the Last Month</th>
            </tr>
            <!-- build rows for each skill -->
            {% for skill, xp in currentXP.items() %}
            <tr>
                <!-- change values for each field of the table -->


                <!-- set skill name, level, xp, xp left, expected xp rate, ehp rate, xp / day, xp / month -->
                <td>{{skill}}</td>
                <td>{{currentLevel[skill]}}</td>
                <td>{{xp}}</td>
                <td>{{xpLeft[skill]}}</td>
                <td><input value = "Expected XP Value"></td>
                <td>EHP for {{skill}}</td>
                <td>{{gainedDay[skill]}}</td>
                <td>{{gainedMonth[skill]}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}


